<project>
  <modelVersion>4.0.0</modelVersion>

  <groupId>${group_id}</groupId>
  <artifactId>${artifact_id}</artifactId>
  <version>${version}</version>
  <packaging>pom</packaging>

  <name>${distro} root</name>
  <description>${distro} root</description>

  <licenses>
    <license>
      <name>The Apache Software License, Version 2.0</name>
      <url>http://www.apache.org/licenses/LICENSE-2.0.txt</url>
    </license>
  </licenses>

  <organization>
    <name>Cloudera</name>
    <url>http://www.cloudera.com</url>
  </organization>

  <properties>
% if components_dict:
% for cmp,ver in components_dict.items():
    <cdh.${cmp}.version>${ver}</cdh.${cmp}.version>
% endfor
% endif
  </properties>

  <scm>
    <connection>scm:crepo:git@git.sf.cloudera.com:tucu.git</connection>
    <url>git@git.sf.cloudera.com:tucu.git</url>
  </scm>

% if repo_dict:
% if 'mvn_repo' in repo_dict.keys():
  <distributionManagement>
    <repository>
      <id>${repo_dict['mvn_repo']['id']}</id>
      <url>${repo_dict['mvn_repo']['url']}</url>
      <name>${repo_dict['mvn_repo']['name']}</name>
    </repository>
  </distributionManagement>
% endif
% endif

  <repositories>
% if repo_dict:
% for key in repo_dict:
    <repository>
      <id>${repo_dict[key]['id']}</id>
      <url>${repo_dict[key]['url']}</url>
      <name>${repo_dict[key]['name']}</name>
    </repository>
% endfor
% endif
  </repositories>

  <profiles>
    <profile>
      <id>prop</id>
      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
      <build>
        <plugins>
          <!-- Generate a properties file with the versions used in this build -->
          <plugin>
            <groupId>org.codehaus.mojo</groupId>
            <artifactId>properties-maven-plugin</artifactId>
            <version>1.0.0</version>
            <inherited>false</inherited>
            <executions>
              <execution>
                <phase>generate-resources</phase>
                <goals>
                  <goal>write-project-properties</goal>
                </goals>
                <configuration>
                  <outputFile>
                    ${artifact_id}.properties
                  </outputFile>
                </configuration>
              </execution>
            </executions>
          </plugin>
        </plugins>
      </build>
    </profile>
  </profiles>

</project>
